body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FBF8F4; 
  font-family: 'Arial', sans-serif; 
}

.bloco-principal {
  display: flex;
  width: 100%;
  height: 100vh;
}


/*Titulos*/

.Titulo {
  font-size: 50px;
  color: #4B626C;
  margin-bottom: 60px;
  margin-top: 40px;
  text-align: left;
}

.Titulo_Populares_Lançamentos {
  font-size: 30px;
  font-weight:bold;
  color: #4B626C;
  margin-left: 75px;
  margin-top: 25px;
}

.TituloLançamentos_PaginaInicial{
  margin-left: 65px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  position: relative; 
  top: 28px;
}

.SubTitulo_Populares {
  font-size: 30px;
  font-weight:bold;
  color: #4B626C;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.Conteudo_Populares{
  text-align: left;
  margin-left: 75px;
}

.Titulo_Conta {
  font-size: 45px;
  color: #4B626C;
  margin-bottom: 20px;
  margin-top: 28%;
  margin-left: 50px;
}

.SubTitulo_Conta {
  font-size: 20px;
  padding: 10px;
  color: #4B626C;
  margin-left: 45px;
}

.titulo-jogos-adquiridos {
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  margin-left: 4%;
  margin-top: 100px;
  margin-bottom: 30px;
}

/*Imagens*/

.bloco-imagem {
  width: 70%;
  height: 100%;
}

.bloco-imagem img {
  width: 100%;
  height: 100%;
}

.bloco-imagem_conta {
  width: 40%;
  background-color: #4B626C;
}

.Imagem_Populares {
  width: 640px;
  height: 350px;
  margin-left: 75px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.carrossel-imagem {
  width: 100%;
  max-height: 600px;
  border-radius: 10px;
}

.carrossel-imagem-lançamento {
  width: 240px;
  height: 160px;
  border-radius:30px;
  margin-top: 25px;
}

.Imagem_Container {
  position: relative;
  display: inline-block; 
}

.imagens-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 50px;
  padding: 40px;
  justify-content: center;
}

.grid-image {
  width: 80%; 
  height: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.bloco-imagem_conta {
  width: 100%;
  margin: auto;
  background-color: #4B626C;
  padding: 20px;
}

/*Detalhes*/

.Badge_Posicao {
  position: absolute;
  top: 10px;
  left: 60px;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 25px; 
  z-index: 1; 
}

.seta-direita {
  display: flex;                        
  align-items: center;                  
  cursor: pointer;                    
  text-decoration: none;                
  position: relative;                    
  left: 330px;                       
}

.seta-direita img {
  width: 40px;                          
  height: auto;                        
}

.price-tags {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: line;
  gap: 5px;
}

.desconto {
  background-color: #4B626C;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.preço-atual {
  background-color: white;
  color: #4B626C;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.price-tags-lançamento {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: line;
  gap: 5px;
}

.preço-atual-lançamento {
  background-color: white;
  color: #4B626C;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.carousel-control-prev {
  left: -40px; 
}

.carousel-control-next {
  right: -40px;
}

.botoes-conta {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 20px; 
  margin-top: 15px;
  margin-right: 205px;
}

.botao-conta {
  background-color: #4B626C;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-conta_admin {
  background-color: #97A4A2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-conta_admin:hover {
  background-color: #B0B9B6;
}

.botao-conta:hover {
  background-color: #3A5159;
}

.nota-avaliacao {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

/*INFORMAÇÕES -> Pagina Registro, Login e RecuperarConta */

.bloco-informações {
  width: 35%; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.bloco-informações input {
  width: 80%;
  height: 30px;
  padding: 20px;
  margin-bottom: 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #EFEFEF;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.bloco-informações a {
  margin-right: 280px;
  margin-top: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #B0B9B6;
  font-weight: bold;
  cursor: pointer;           
  bottom: 15px;                                                                       
}

.bloco-informações a:hover {
  text-decoration: underline;
}

.bloco-informações_conta {
  width: 60%; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/*CARROSSEL*/

.carrossel-custom {
  max-width: 1400px;
  max-height: 600px;
  border-radius: 5px;
  overflow: hidden;
}

.carousel-slide-container {
  position: relative;
}

.carrosselPrincipal{
  margin-top: 25px;
  margin-bottom: 100px;
}

.carrossel-lançamentos-custom {
  max-width: 92%; 
  overflow: hidden;
}

.carousel-item .d-flex {
  gap: 50px; 
}

/*Lançamentos*/

.lançamentos{
  background-color:#4B626C;
  height: 350px
}

/*Populares*/

.Populares_Container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
  width: 94%;
}

/*Lançamentos*/

.Lançamentos_Container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

/*FOOTER*/

.footer {
  background-color: #97A4A2;
  color: #FFF;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  text-align: left;
}

.footer-logo-img {
  max-width: 80px;
  margin-bottom: 10px;
}

.footer-description {
  font-size: 14px;
}

.footer-links, .footer-contact {
  text-align: left;
}

.footer-links h4, .footer-contact h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-links ul, .footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li, .footer-contact ul li {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-links ul li a, .footer-contact ul li a {
  color: #FFF;
  text-decoration: none;
}

.footer-links ul li a:hover, .footer-contact ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #97A4A2;
  padding: 10px 0;
  font-size: 12px;
  color: #EEE;
  margin-top: 10px;
}

/*NAVBAR*/

.navbar {
  background-color: #FBF8F4;
  padding: 5px 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
  margin-left: 75px;
}

.nav-link {
  color: #4B626C;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #B0B9B6;
}

.navbar-logo {
  text-align: left;
}

.navbar-logo-img {
  max-width: 80px;
  margin-left: 40px;
}

.form-control {
  width: 200px;
  margin-left: 20px;  
}

