body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FBF8F4; 
  font-family: 'Arial', sans-serif; 
}

.bloco-principal {
  display: flex;
  width: 100%;
  height: 100vh;
}

/*Titulos*/

.Titulo {
  font-size: 50px;
  color: #4B626C;
  margin-bottom: 60px;
  margin-top: 40px;
  text-align: left;
}

.Titulo_Populares {
  font-size: 30px;
  font-weight:bold;
  color: #4B626C;
  margin-left: 75px;
}

.TituloLançamentos{
  margin-left: 80px;
  font-size: 30px;
  color: white;
}

.SubTitulo_Populares {
  font-size: 30px;
  font-weight:bold;
  color: #4B626C;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.Conteudo_Populares{
  text-align: left;
  margin-left: 75px;
}

/*Imagens*/

.bloco-imagem {
  width: 70%;
  height: 100%;
}

.bloco-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Imagem_Populares {
  width: 640px;
  height: 350px;
  margin-left: 75px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.carrossel-imagem {
  width: 100%;
  max-height: 600px;
  border-radius: 10px;
  margin: 0 15px;
}

.carrossel-imagem-lançamento {
  width: 240px;
  height: 180px;
  border-radius:5px;
  margin-top: 25px;
}

.Imagem_Container {
  position: relative;
  display: inline-block; 
}

/*Detalhes*/

.Badge_Posicao {
  position: absolute;
  top: 10px;
  left: 60px;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 25px; 
  z-index: 1; 
}

.seta-direita {
  display: flex;                        
  align-items: center;                  
  cursor: pointer;                    
  text-decoration: none;                
  position: relative;                    
  left: 330px;                       
}

.seta-direita img {
  width: 40px;                          
  height: auto;                        
}

.price-tags {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: line;
  gap: 5px;
}

.desconto {
  background-color: #4B626C;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.preço-atual {
  background-color: white;
  color: #4B626C;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.price-tags-lançamento {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: line;
  gap: 5px;
}

.preço-atual-lançamento {
  background-color: white;
  color: #4B626C;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.carousel-control-prev {
  left: -40px; 
}

.carousel-control-next {
  right: -40px;
}

/*INFORMAÇÕES -> Pagina Registro, Login e RecuperarConta */

.bloco-informações {
  width: 35%; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.bloco-informações input {
  width: 80%;
  height: 30px;
  padding: 20px;
  margin-bottom: 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #EFEFEF;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.bloco-informações a {
  margin-right: 280px;
  margin-top: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #B0B9B6;
  font-weight: bold;
  cursor: pointer;           
  bottom: 15px;                                                                       
}

.bloco-informações a:hover {
  text-decoration: underline;
}

/*CARROSSEL*/

.carrossel-custom {
  max-width: 1400px;
  max-height: 600px;
  border-radius: 5px;
  overflow: hidden;
}

.carousel-slide-container {
  position: relative;
}

.carrosselPrincipal{
  margin-top: 25px;
  margin-bottom: 100px;
}

.carrossel-lançamentos-custom {
  max-width: 1400px; 
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.carousel-item .d-flex {
  gap: 50px; 
}

/*Lançamentos*/

.lançamentos{
  background-color:#4B626C;
  height: 350px;
}

/*Populares*/

.Populares_Container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
  width: 1450px;
}

/*FOOTER*/

.footer {
  background-color: #97A4A2;
  color: #FFF;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  text-align: left;
}

.footer-logo-img {
  max-width: 80px;
  margin-bottom: 10px;
}

.footer-description {
  font-size: 14px;
}

.footer-links, .footer-contact {
  text-align: left;
}

.footer-links h4, .footer-contact h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-links ul, .footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li, .footer-contact ul li {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer-links ul li a, .footer-contact ul li a {
  color: #FFF;
  text-decoration: none;
}

.footer-links ul li a:hover, .footer-contact ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #97A4A2;
  padding: 10px 0;
  font-size: 12px;
  color: #EEE;
  margin-top: 10px;
}

/*NAVBAR*/

.navbar {
  background-color: #FBF8F4;
  padding: 5px 10px;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
}

.nav-link {
  color: #4B626C;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #B0B9B6;
}

.form-control {
  width: 200px;
  margin-left: 20px;  
}